<!DOCTYPE html>
<html>
  <head>
    <title>DPGear</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="orange">
    <header>
      <h1>DPGear</h1>
    </header>
    <div class="container">
     <%= yield %>
     </div>
     <footer>
      <h4>An amazing project by Jace, Taj, Pete, &amp; Dan</h4>
     </footer>
  </body>
</html>
